@model indexExample.Models.PersonellerClass;
@using Microsoft.AspNetCore.Mvc.Rendering;

@{
    ViewData["Title"] = "Personel Kayıt";
}
<script src="~/lib/jquery/dist/jquery.js"></script>

<style>
    .row {
        margin-top: 3%;
    }

    .form-label {
        width: 10%;
    }

    .form-control {
        margin-left: 4%;
        width: 22%;
    }

    .form-select {
        margin-left: 4%;
        width: 22%;
    }

    .paragraf {
        
    }

    .aciklama {
        margin-top: 2%;
        margin-left: 3%;
        width: 75%;
    }
    .buton{
        margin-left: 1%;
        width: 5%;
    }
    .btn {
        margin-top: 4%;
    }

    #container-egitim{
        margin-top: 1%;
    }

    input[type="date"] {
        position: relative;
    }

   
    input[type="date"]:after {
            content: "\25BC";
            color: #555;
            padding: 0 5px;
    }

   
    input[type="date"]:hover:after {
            color: #bf1400;
    }


    input[type="date"]::-webkit-calendar-picker-indicator {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: auto;
            height: auto;
            color: transparent;
            background: transparent;
            cursor: pointer;
    }
</style>

<h1>@ViewData["Title"]</h1>

<form enctype="multipart/form-data">
        <div class="mb-3">
                <div class="row">
                    <div class="col-md-4">
                         <div class="divMedia">
                              <div class="Media">
                                   <div class="row" id="aa_imgFile">
                                         <img src="" id="a_imgFile" width="50" height="200" />
                                   </div>
                                   <div class="form-group">
                                         <label class="control-label"></label>
                                         <input type="file" name="iFormFile" id="imgFile" mediaId="" onchange="createMedia(this.id)" accept="image/*" />
                                   </div>
                               </div>
                          </div>
                      </div>
                </div>
            <div class="row">
                <label class="form-label" for="exampleFormControlInput1">Ad:</label>
                <input id="Ad" type="text" class="form-control" placeholder="Ad">
            </div>
            <div class="row">
                <label class="form-label" for="exampleFormControlInput1">SoyAd:</label>
                <input id="SoyAd" type="text" class="form-control" placeholder="SoyAd">
            </div>
            <div class="row">
                <label class="form-label" for="exampleFormControlInput1">Tel No:</label>
                <input id="TelNo" type="text" class="form-control" placeholder="Telefon Numarası" maxlength="11">
            </div>
            <div class="row">
                <label class="form-label" for="exampleFormControlInput1">Doğum Tarihi:</label>
                <input id="dogumTarihi" type="date" class="form-control">
            </div>
            <div class="row">
                <label class="form-label" for="exampleFormControlInput1">Doğduğunuz Ülke:</label>
                <select id="dropUlke" class="form-select" onchange="Sehirler()"><option selected>Doğduğunuz Ülkeyi Seçin</option></select>
                <label class="form-label" for="exampleFormControlInput1">Doğduğunuz Şehir:</label>
                <select id="dropSehir" class="form-select" ><option selected>Şehri Seçin</option></select>
            </div>
            <div class="paragraf">
                <label class="form-label" for="exampleFormControlInput1">Açıklama:</label>
                <textarea id="aciklama" class="aciklama" rows="3"></textarea>
                <input name="medyaid" type="hidden" id="medyaid"/>
            </div>
            <br />
            <h3>Aldığı Eğitim</h3>
            <div class="divTekrar">
                <div class="row" id="div">
                    <div class="row">
                        <label class="form-label" for="exampleFormControlInput1">Okul Tipi:</label>
                        <select id="okulTipi0" class="form-select">
                            <option selected>Okul Tipini Seçin</option>
                        </select>
                        <input id="okulAdı0" class="form-control" placeholder="Okul Adını Giriniz."/>
                        <input id="mezunTarihi0" type="date" class="form-control" placeholder="Mezun Tarihiniz.">
                        <input class="buton" type="button" value="+" onclick="createTekrar()"/>
                        <input class="buton" type="button" value="-" onclick="deleteTekrar(this)"/>
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <input class="btn btn-primary" type="submit" onclick="CreateKayit()" value="Kaydet">
            </div>
        </div>
</form>

<script>

        $(document).ready(function () {
            Ulkeler();
            Okullar();
        });

        function Ulkeler() {
            $.ajax({
                type: "Get",
                url: "/PersonelRecord/UlkeCekme",
                dataType: "json",
                async: false,
                success: function (result) {
                    console.log(result);
                    var myData = result;
                    var myDesign = "";


                    for (var i = 0; i < myData.length; i++) {

                        myDesign += "<option value='" + myData[i].id + "'>" + myData[i].ulkeSehir + "</option>";
                    }
                    $("#dropUlke").append(myDesign);
                }
            });
        }

        function Sehirler() {
            $.ajax({
                type: "Get",
                url: "/PersonelRecord/SehirCekme/" + $("#dropUlke").val(),
                dataType: "json",

                async: false,
                success: function (result) {
                    console.log(result);
                    var myData = result;
                    var myDesign = "<option value = 0>---Seçiniz---</option>";

                    for (var i = 0; i < myData.length; i++) {
                        myDesign += "<option value='" + myData[i].id + "'>" + myData[i].ulkeSehir + "</option>";
                    }
                    $("#dropSehir").html(myDesign);

                }

            });
        }

        function Okullar() {
            $.ajax({
                type: "Get",
                url: "/PersonelRecord/OkulCekme",
                dataType: "json",
                async: false,
                success: function (result) {
                    console.log(result);
                    var myData = result;
                    var myDesign = "";


                    for (var i = 0; i < myData.length; i++) {

                        myDesign += "<option value='" + myData[i].id + "'>" + myData[i].okulTipi + "</option>";
                    }
                    $("#okulTipi0").append(myDesign);
                }
            });
        }

        function Okullar2(id) {
            $.ajax({
                type: "Get",
                url: "/PersonelRecord/OkulCekme",
                dataType: "json",
                async: false,
                success: function (result) {
                    console.log(result);
                    var myData = result;
                    var myDesign = "";


                    for (var i = 0; i < myData.length; i++) {

                        myDesign += "<option value='" + myData[i].id + "'>" + myData[i].okulTipi + "</option>";
                    }
                    $("#okulTipi"+id).append(myDesign);
                }
            });
        }

        function createMedia(id) {
            if (event.target.files.length > 0) {
                var src = URL.createObjectURL(event.target.files[0]);
                var preview = document.getElementById("a_" + id);
                preview.src = src;
                preview.style.display = "block";
            }
            var fdata = new FormData();
            var fileInput = $('#' + id)[0];
            var file = fileInput.files[0];
            fdata.append("iFormFile", file);


            $.ajax({
                type: "Post",
                url: "/PersonelRecord/CreateMedia/",
                data: fdata,
                contentType: false,
                processData: false,
                success: function (result) {
                      if (result != 0) {
                        $("#" + id).attr("mediaid", result);
                        $("#medyaid").val(result);
                    }
                }
            });
        }
        
        var i = 0;

        function createTekrar() {
            i++;
            var design = '<div class="row" id="div' + i + '">';
            design += '<div class="row">';
            design += '<label class="form-label" for="exampleFormControlInput1">Okul Tipi:</label>';
            design += '<select id="okulTipi'+ i +'" class="form-select"><option selected>Okul Tipini Seçin</option></select>';
            design += '<input id="okulAdı'+ i +'" type="text" class="form-control" placeholder="Okul Adını Giriniz."/>';
            design += '<input id="mezunTarihi'+ i +'" type="date" class="form-control" placeholder="Mezun Tarihiniz.">';
            design += '<input class="buton" type="button" value="+" onclick="createTekrar()"/>';
            design += '<input id="'+ i +'" class="buton" type="button" value="-" onclick="deleteTekrar(this.id)"/>';
            design += '</div>';
            design += '</div>';

            $(".divTekrar").append(design);
            Okullar2(i);
        }
        
        function CreateKayit(){

            var Ad = $("#Ad").val();
            var SoyAd = $("#SoyAd").val();
            var TelNo = $("#TelNo").val();
            var dogumTarihi = $("#dogumTarihi").val();
            var dogduguUlke = $("#dropUlke option:selected").val();
            var dogduguSehir = $("#dropSehir option:selected").val();
            var Aciklama = $("#aciklama").val(); 
            var MedyaId = $("#imgFile").attr("mediaId");
            var MedyaURL = $("#a_imgFile").attr('src');

            const personelEgitim = [
                {okulTipiID:"",okulAdı:"",mezunTarihi:""},
                {okulTipiID:"",okulAdı:"",mezunTarihi:""},
                {okulTipiID:"",okulAdı:"",mezunTarihi:""},
                {okulTipiID:"",okulAdı:"",mezunTarihi:""},
                {okulTipiID:"",okulAdı:"",mezunTarihi:""},
                {okulTipiID:"",okulAdı:"",mezunTarihi:""},
                {okulTipiID:"",okulAdı:"",mezunTarihi:""},
                {okulTipiID:"",okulAdı:"",mezunTarihi:""}
            ];
            
            for (var deger=0; deger <= i ;deger++)
            {
                var okulTipiID = $("#okulTipi"+deger).val();
                var okulAdı = $("#okulAdı"+deger).val();
                var mezunTarihi = $("#mezunTarihi"+deger).val();

                personelEgitim[deger].okulTipiID = okulTipiID;
                personelEgitim[deger].okulAdı = okulAdı;
                personelEgitim[deger].mezunTarihi = mezunTarihi;
            }

            var kayit = {
                Ad: Ad,
                SoyAd: SoyAd,
                TelNo: TelNo,
                dogumTarihi: dogumTarihi,
                dogduguUlke: dogduguUlke,
                dogduguSehir: dogduguSehir,
                Aciklama: Aciklama,
                personelEgitim: personelEgitim,
                MedyaId: MedyaId
                
            }
            console.log(MedyaId);

            $.ajax({
                type: "Post",
                url: "/PersonelRecord/CreateKayit/",
                dataType: "Json",
                data: { p : kayit },
                async: false,
                success: function () {
                    
                }   
            });
            window.location.href = "../PersonelRecord/Create";
        }

        function deleteTekrar(id) {
            $("#div" + id).remove();
        }
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}