@{
    ViewData["Title"] = "İletişim";
}

<h1>@ViewData["Title"]</h1>

<div id="iletisim" class="">
    <b>Firma Adı</b>
    <br />
    Maya/Orsa
    <br />
    <b>Adres</b>
    <br />
    Salacak Mah. Tunusbağı Sok.
    <br />
    <b>Email Adresi</b>
    <br />
    iletisim@mayaorsa.com
</div>
 
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Ad</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="Ad"></textarea>

  <label for="exampleFormControlTextarea1" class="form-label">Soyad</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="Soyad"></textarea>
    
  <label for="exampleFormControlInput1" class="form-label">Email adresi</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="example@example.com">
  
  <label for="exampleFormControlTextarea1" class="form-label">Görüş ve Önerileriz</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  <br />
  <button type="submit" class="btn btn-primary mb-3">Gönder</button>
</div>