@model indexExample.Models.PersonellerClass
@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align:center" id="banner" class="">
    <img style="" src="product-category-top-banner-parallax.jpg" class="img-fluid" alt="Banner"/>
    <h1>Ana Sayfaya Hoşgeldiniz</h1>
</div>

<div class="main">

    <div id="sol-alt-sol" class="">
        <p>1980 yılında CERN'de görevli olan Tim Berners-Lee, CERN araştırmacılarının bilgilerini ve dokümanlarını birbirleriyle paylaşabilmeleri için bir sistem olması gerektiğine inanıyordu. Bu yüzden prototip olarak ENQUIRE isimli sistemi önerdi. 1989 yılına gelindiğinde internet tabanlı sistemin ilk temellerini yine aynı isim Tim Berners Lee attı.[1] 1990 yılında HTML işaretleme dilini geliştirmesinden sonra World Wide Web (WWW) sistemini kurmuştur. Bu şekilde CERN'de bilgi paylaşımını kolaylaştırma amacı doğrultusunda ortaya çıkan HTML günümüzde hayatımızın vazgeçilmezi olan ağın başlıca temelini oluşturmuştur.HTML kodunu web tarayıcıları okur, yorumlar ve görsel hale dönüştürürler, dolayısıyla aynı HTML kodunun farklı tarayıcılarda farklı sonuç vermesi olasıdır. CSS ve JavaScript ile beraber kullanıldığında HTML vasıtasıyla görsel ve dinamik web siteleri yaratılabilir.HTML, bir programlama dili olarak tanımlanamaz. Zira HTML kodlarıyla kendi başına çalışan bir program yazılamaz. Ancak bu dili yorumlayabilen programlar aracılığıyla çalışabilen programlar yazılabilir.</p>
    </div>

    <div id="sag-alt-sag" class="">
        <p>Örneğin, ​'''kalın yazı'''​, görsel çıkış aygıtlarının kalın yazı ile "kalın yazı" oluşturması gerektiğini belirtir, ancak bunu yapamayan cihazların (metni yüksek sesle okuyan işitsel cihazlar gibi) ne yapması gerektiği konusunda çok az bilgi verir. 4.0 spesifikasyonu altında kullanımdan kaldırılmıştır.</p>
    </div>

    <div id="orta-alt" class="">
        <p>Örneğin, ​Golf​ ikinci düzey bir başlık olarak "Golf" kurar. Yapısal işaretleme belirli bir oluşturmayı göstermez, ancak çoğu web tarayıcısının öğe biçimlendirmesi için varsayılan stilleri vardır. İçerik CSS kullanılarak daha fazla şekillendirilebilir.[2]</p>
    </div>

    <div id="sag-alt-alt" class="">
        <p>HTML, bir programlama dili olarak tanımlanamaz. Zira HTML kodlarıyla kendi başına çalışan bir program yazılamaz. Ancak bu dili yorumlayabilen programlar aracılığıyla çalışabilen programlar yazılabilir. Programlama dili denilememesinin nedeni tam olarak budur. Temel gereği yazı, görüntü, video gibi değişik verileri ve bunları içeren sayfaları birbirine basitçe bağlamak, buna ek olarak söz konusu sayfaların web tarayıcısı yazılımları tarafından düzgün olarak görüntülenmesi için gerekli kuralları belirlemektir. HTML kodunu web tarayıcıları okur, yorumlar ve görsel hale dönüştürürler, dolayısıyla aynı HTML kodunun farklı tarayıcılarda farklı sonuç vermesi olasıdır. CSS ve JavaScript ile beraber kullanıldığında HTML vasıtasıyla görsel ve dinamik web siteleri yaratılabilir.</p>
    </div>
</div>

<div class="dip">
    <div id="alt-sol" class="">
        <p>İnternet sayfaları için genelgeçer şablonlar hazırlama olanağı verdiği gibi, bağımsız olarak harflerin stilini, yani renk, yazı tipi, büyüklük gibi özelliklerini değiştirmek için de kullanılabilir. Bu tekniğin en önemli özelliği kullanımındaki esnekliktir. Bir Web sayfası içerisinde birbiriyle uyumlu birkaç renk ve birkaç yazı tip kullanılır ve bunları her sayfada ayrı ayrı tekrar belirtmek yerine CSS yardımıyla bir sefer tanımlayıp bütün Web sayfalarında ortak olarak kullanılabilir. Böylece sayfaların hafızadaki boyutu epey küçüldüğü gibi güncelleme yapmak da kolaylaşır</p>
    </div> 

    <div id="alt-orta" class"">
        <p>CSS kodları, HTML kodlarının içine yazılabildiği gibi harici bir CSS dosyası oluşturularak da işlem yaptırılabilir. Türüne göre veya bölümlerinde yer alabilirler. Ayrıca koduyla CSS dosyası çalışma sayfasına eklenebilir. Onları ayrı dosyada veya dosyalarda saklamak, onları değişik HTML sayfalarınca kullanılmasını sağlar, aynı sayfanın değişik aygıtlara göre formatlandırılmasını kolaylaştırır, sunumla yapıyı ayırarak değişiklik yapılmasını ekonomikleştirir.</p>
    </div> 

    <div id="alt-sag" class"">
        <p>JavaScript, yaygın olarak web tarayıcılarında kullanılmakta olan dinamik bir programlama dilidir. JavaScript ile yazılan istemci tarafı betikler sayesinde tarayıcının kullanıcıyla etkileşimde bulunması, tarayıcının kontrol edilmesi, asenkron bir şekilde sunucu ile iletişime geçilmesi ve web sayfası içeriğinin değiştirilmesi gibi işlevler sağlanır. JavaScript, Node.js gibi platformlar sayesinde sunucu tarafında da yaygın olarak kullanılmaktadır.</p>
    </div>
</div>